@import "../../styles.scss";

.info-block {
  width: 1000px;
  background-color: $light-gray-v2;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;

  svg {
    cursor: pointer;
    &.delete {
      &:hover {
        fill: red;
      }
    }
    &.edit {
      &:hover {
        fill: blue;
      }
    }
  }

  .info-block-addNew {
    // align-items: flex-end;

    .button {
      margin-top: 22px;
      height: 38px;
    }
  }

  .info-block-content {
    width: 950px;
    .info-block__number {
      width: 70px;
    }
    .info-block__url {
      width: 400px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .info-block__count {
      width: 180px;
    }
    .info-block-content-title {
      display: flex;
      margin-bottom: 15px;

      .info-block__number,
      .info-block__url,
      .info-block__count,
      .info-block__name {
        font-weight: bold;
      }
    }

    .info-block__sources {
      .info-block-source {
        justify-content: space-between;
        width: 100%;
        display: flex;
        padding: 15px 10px;
        background-color: $light-gray-v3;
        & > div {
          display: flex;
        }
      }
    }
  }
}
