.sign-in {
  width: 500px;
  // height: 400px;
  box-shadow: 0 0 4px #00000036;
  padding: 40px;
  margin: auto auto;
  h2 {
    margin: 0;
    padding: 0;
  }
  .sign-in__text-error {
    color: red;
  }
}
