@import "../../styles.scss";

.checkbox {
  display: flex;
  gap: 5px;
  cursor: pointer;

  .checkbox__box {
    width: 15px;
    height: 15px;
    border: 1px solid $light-green-v2;
  }

  &.checked {
    .checkbox__box {
      position: relative;
      background-color: $light-green-v1;
      display: flex;
      justify-content: center;
      align-items: center;

      &::after {
        content: "";
        position: absolute;
        margin-top: -3px;
        width: 4px;
        height: 8px;
        border-right: 1px solid white;
        border-bottom: 1px solid white;
        transform: rotate(45deg);
      }
    }
  }
}
