.App {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  min-height: 100%;
  height: fit-content;
  padding-bottom: 100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-content {
  min-width: 900px;
  /* max-width: 1200px; */
  padding: 0 40px;

  width: 100%;
  display: flex;
  justify-content: center;
}

#main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
  /* width: 1200px; */
}

.invalid-info {
  display: flex;
  flex-wrap: wrap;
  color: red;
  font-size: 11px;
}

.app-navigation-wrapper {
  display: flex;
  width: 100%;
  /* flex-direction: column; */
  /* width: 200px; */
  /* min-width: 200px; */
  /* height: 100%; */
  /* padding: 10px 20px; */
  position: fixed;
  height: 60px;
  min-height: 60px;
  top: 0;
  box-shadow: 0px -3px 8px black;
  /* padding-left: 20px; */
  background-color: #f1f1f1;
  z-index: 100;
}

.app-navigation {
  display: flex;
  width: 100%;
  /* flex-direction: column; */
  /* width: 200px; */
  /* min-width: 200px; */
  /* height: 100%; */
  /* padding: 10px 20px; */
  height: 60px;
  min-height: 60px;
  box-shadow: 0px -3px 8px black;
  /* padding-left: 20px; */
  background-color: #f1f1f1;
}
.app__nav-link {
  width: 170px;
  color: #585858;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 3.8rem; */
}

.app__nav-link:link {
  text-align: center;
  font-size: 1rem;
  line-height: 1.2rem;
  text-decoration: none;
}

.app__nav-link:hover {
  color: #abaeb9;
}

.activeRoute {
  background-color: #979797;
  cursor: not-allowed;
}
