html,
body,
#root {
  display: flex;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  color: #585858;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

p {
  margin: 0;
  padding: 0;
}

input {
  border: none;
  outline: none;
}

button {
  border: none;
  background-color: white;
  cursor: pointer;
}

.App {
  /* padding: 10px 20px; */
}

.invalid-info {
  display: flex;
  flex-wrap: wrap;
  color: red;
  font-size: 11px;
}
