.events {
  display: flex;
  flex-direction: column;
  // width: 1200px;
  width: 100%;
  height: 100%;
  justify-content: flex-start;

  .row {
    display: flex;
    justify-content: space-between;
    height: 50px;
    border-bottom: 1px dotted black;
    align-items: center;
    display: flex;
    color: #585858;
    text-decoration: none;

    &:hover {
      background-color: #efefef;
      cursor: pointer;
    }

    &.outline {
      // background: #f3f3f3;
    }
    .row-cells {
      display: flex;
      gap: 30px;
    }

    .row-buttons {
      display: flex;
      justify-content: center;
      width: 100%;
      gap: 15px;
      min-width: 315px;

      button {
        width: 120px;
      }
    }
  }

  .events-table {
    display: flex;
    flex-direction: column;
    min-width: 1510px;

    .events-table-header {
      display: flex;
      gap: 30px;
      border-bottom: 1px solid black;
      height: 40px;
      align-items: center;
      position: sticky;
      top: 60px;
      background: white;
      box-shadow: 0 5px 3px #00000021;

      .header__row-cell {
        font-weight: bold;
        font-size: 1rem;
      }
    }

    .events-table-content {
    }

    .row__cell {
      display: flex;
      justify-content: flex-start;
      width: 200px;
      min-width: 200px;
      border-right: 1px dotted black;
      color: #585858;
    }
    .row__operations {
      width: 100%;
      display: flex;
      justify-content: center;
      min-width: 315px;
      border-right: none;
    }
    .row__index {
      width: 40px;
      min-width: 40px;
      display: flex;
      justify-content: center;
    }
  }

  .events-button {
    display: flex;
    margin-top: 50px;
  }
}
